{% extends "../main.twig" %}

{% block main %}
	<main class="page__main">
		<h1 class="title">Title</h1>
		{% include "../blocks/promo/promo.twig" %}
		{% include "../blocks/advantages/advantages.twig" %}
		{% include "../blocks/catalog/catalog.twig" %}
		{% include "../blocks/map/map.twig" %}
	</main>
{% endblock %}
