<section class="promo">
	<h2>Promo</h2>
	<div class="promo__wrapper">
		<div class="slider">
			<button class="slider__arrow-left" type="button">
				<span class="visually-hidden">Переключить отображение влево.</span>
			</button>
			<button class="slider__arrow-right" type="button">
				<span class="visually-hidden">Переключить отображение вправо.</span>
			</button>
			<div class="slider__card card">
				<img class="card__image" src="img/catalog/cofe-decaf.png" alt="Кофе без кофеина с фермерским молоком">
				<div class="card__block">
					<span class="badge">Новинка!</span>
					<h2 class="card__title">Декаф Флэт Уайт</h2>
					<p class="card__description">
						Свежесваренный кофе без кофеина из Эфиопии
						с натуральным фермерским молоком — то, что нужно
						для расслабления после тяжёлого рабочего дня
					</p>
					<div class="card__bay">
						<del class="card__old-price">295₽</del>
						<b class="card__price">225₽</b>
						<button class="card__button button" type="button">Заказать</button>
					</div>
				</div>
			</div>
			<div class="slider__card card">
				<img class="card__image" src="img/catalog/cofe-latte.png" alt="Кофе без кофеина с фермерским молоком">
				<div class="card__block">
					<span class="card__badge">Новинка!</span>
					<h2 class="card__title">Лавандовый Латте</h2>
					<p class="card__description">
						Невероятное сочетание перуанской высокогорной
						арабики с молоком ламы и лавандовым сиропом
						унесёт вас прямо на вершину Радужных гор
					</p>
					<div class="card__bay">
						<del class="card__old-price">285₽</del>
						<b class="card__price">265₽</b>
						<button class="card__button button" type="button">Заказать</button>
					</div>
				</div>
			</div>
			<div class="slider__card card">
				<img class="card__image" src="img/catalog/cofe-espresso.png" alt="Кофе без кофеина с фермерским молоком">
				<div class="card__block">
					<span class="card__badge">Новинка!</span>
					<h2 class="card__title">Тройной Эспрессо</h2>
					<p class="card__description">
						Мощнее укола адреналина, чернее самой тёмной ночи,
						этот тройной эспрессо из Колумбии покажет вам,
						что такое настоящая бодрость
					</p>
					<div class="card__bay">
						<del class="card__old-price">395₽</del>
						<b class="card__price">375₽</b>
						<button class="card__button button" type="button">Заказать</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
