<section class="advantages">
	<span class="badge">Преимущества</span>
	<h2 class="advantages__title">Главные причины выбрать Drink2Go</h2>
	<ul class="advantages__list">
		<li class="advantages__item">
			<h3 class="advantages_subtitle">Скорость</h3>
			<p class="advantages-description">
				Готовый напиток всегда под рукой
				— просто открой банку
			</p>
		</li>
		<li class="advantages__item">
			<h3 class="advantages_subtitle">Удобство</h3>
			<p class="advantages-description">
				Легко помещается и в карман,
				и в маленькую сумочку
			</p>
		</li>
		<li class="advantages__item">
			<h3 class="advantages_subtitle">Бодрость</h3>
			<p class="advantages-description">
				Сбалансированная доза кофеина
				даст мощный заряд энергии
			</p>
		</li>
		<li class="advantages__item">
			<h3 class="advantages_subtitle">Экологичность</h3>
			<p class="advantages-description">
				Вся упаковка сделана
				из перерабатываемых материалов
			</p>
		</li>
	</ul>
</section>
